/**
--------------------
MAIN RULES
-------------------- */

:root {
  --accent-color: #2196f3;
  --btn-hover-color: #188ce8;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --white-color: #fff;
  --container-width: 1200px;
  --icon-color: #afb1b8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-section__list-item,
.social-list__item,
.clients-list,
.member-list__item,
.cards-section__item,
.cards__item,
.cards-section__filter-item {
  list-style: none;
  position: relative;
}

.site-nav__link,
.contact-block__link,
.footer-section__link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.site-nav__link--active {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--active::after {
  content: "";

  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.footer-section__link:hover,
.footer-section__link:focus,
.contact-block__link:hover,
.contact-block__link:focus,
.contact-block__link:hover,
.contact-block__link:focus,
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  margin: -1px;

  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.features-list__item:not(:last-child),
.work-section__list-item:not(:last-child),
.member-list__item:not(:last-child),
.cards__item:not(:last-child) {
  margin-right: 30px;
}

/**
--------------------
HEADER SECTION
-------------------- */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
}

.header__logo{
  margin-top: 24px;
  margin-bottom: 25px;

}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo__header-headline {
  color: var(--main-text-color);

  margin-right: 92px;
}

.site-nav {
  display: flex;
}

.site-nav__item {
  display: block;
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link{
  padding: 32px 0;
}

.contact-block__link:hover .contact-block__icon,
.contact-block__link:focus .contact-block__icon {
  fill: currentColor;
}

.contact-block__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__contact {
  margin-left: auto;
}

.contact-block{
  display: flex;
  align-items: center;
}

.contact-block__link:not(:last-child) {
  margin-right: 50px;
}

/**
--------------------
HERO SECTION
-------------------- */

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;

  letter-spacing: 0.06em;
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__container {
  display: block;
}

.hero__title {
  margin: 0px auto 30px;
  max-width: 640px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--white-color);
}

.btn {
  display: inline-flex;

  align-items: center;
  padding: 10px 32px;

  border-radius: 4px;
  border: 0;

  background-color: var(--accent-color);

  font-family: inherit;
  cursor: pointer;
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-hover-color);
}

/**
--------------------
OUR FEATURES SECTION
-------------------- */
.features-list,
.member-list,
.work-section__list {
  display: flex;
}

.features-list__item {
  display: block;
  flex-basis: calc(100% / 4);
}

.features-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  height: 120px;
  width: 100%;

  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.features-list__subtitle {
  margin-bottom: 10px;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}

.features-list__description {
  color: var(--secondary-text-color);
  line-height: 1.7;
}

/**
--------------------
OUR WORK SECTION
-------------------- */

.work-section {
  padding-top: 0;
  padding-bottom: 94px;
}

.image-title {
  position: absolute;
  bottom: 0;

  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  font-weight: 700;

  background: rgba(47, 48, 58, 0.8);
  color: #fff;
}

/**
--------------------
OUR TEAM SECTION
-------------------- */
.section--grey {
  background-color: var(--secondary-background-color);
}

.member-list__area {
  padding: 30px 0;

  width: 270px;
  border: 1px solid #eeeeee;
  border-radius: 0px 0px 4px 4px;
  border-top: 0;
  text-align: center;
  background-color: var(--white-color);
  line-height: 1.19;
}

.member-list__name {
  margin-bottom: 10px;

  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.19;
}

.contact-block__link,
.member-list__position {
  display: inline-flex;
  color: var(--secondary-text-color);
  align-items: center;
}

.member-list__position {
  margin-bottom: 16px;

  line-height: 1.19;
  font-size: 16px;
  font-weight: 400;
}

.member-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social-list__icon,
.contact-block__icon{
  fill: var(--icon-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social-list {
  display: flex;
  justify-content: center;
}
.social-list__link {
  display: flex;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}
.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--white-color);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}
/**
--------------------
OUR-CLIENTS SECTION
-------------------- */

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list__item {
  display: flex;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px var(--icon-color) solid;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.clients-list__icon {
  fill: var(--icon-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.clients-list__link:hover,
.clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

/**
--------------------
PORTFOLIO-CARDS SECTION
-------------------- */

.cards-section__filter{
  display: flex;
  justify-content: center;

  padding-bottom: 50px;
}

.cards-section__filter-item:not(:last-child) {
  margin-right: 8px;
}

.cards-section__btn {
  padding: 6px 22px;

  border-radius: 4px;
  border: 0;

  background: var(--secondary-background-color);

  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.cards-section__btn:hover,
.cards-section__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards,
.cards__item{
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  width: 370px;
  height: 404px;
  background: var(--white-color);
  margin-bottom: 30px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.cards__item:hover,
.cards__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__item:hover .cards__image-description,
.cards__item:focus .cards__image-description {
  transform: translateY(0);
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.cards__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cards__image-description{
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.cards__description-area {
  width: 370px;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}



.cards__name{
  display: inline-block;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards__description {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}

/**
--------------------
FOOTER SECTION
-------------------- */

.footer-section {
  background-color: var(--accent-background-color);
  line-height: 1.7;
  color: var(--white-color);
  font-size: 14px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container--footer {
  display: flex;
  align-items: baseline;
}

.footer-section__contacts {
  margin-right: 70px;
}

.footer-section__form {
  margin-left: auto;
}

.footer-section__link {
  display: flex;
}


.footer-section__address {
  font-style: normal;
}

.footer-section__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  font-size: 14px;
}

.footer-section__address {
  margin-bottom: 9px;
}

.footer-section__link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-section__logo{
  display: flex;
  margin: 0;
  margin-bottom: 20px;
}

.logo__footer-headline {
  color: var(--white-color);
}

.subscription-form__subtitle,
.footer-socials__subtitle{
  margin-bottom: 20px;

  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}

.social-list__link--grey{
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link--grey:hover,
.social-list__link--grey:focus {
  background-color: var(--accent-color);
}

.social-list__icon--white {
  fill: #fff;
}


.subscription-form__input {
  margin-right: 12px;
  padding: 15px 16px;

  width: 358px;
  height: 50px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: 0;

  color: #fff;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  transition: border-color 250ms var(--timing-function);
}

.subscription-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form__btn {
  padding: 10px 28px;
}

.subscription-form__input:focus {
  border-color: #fff;
}

.btn__icon {
  fill: #fff;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  opacity: 1;
  visibility: visible;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.backdrop__modal {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  padding: 40px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--timing-function);
}

.modal__icon {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 9px 9px 10px 10px;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  transition: fill 250ms var(--timing-function);
}

.modal__icon:hover,
.modal__icon:focus {
  fill: var(--accent-color);
}

.modal-form {
  text-align: center;
}

.modal__header{
  display: block;
  text-align: center;

  margin-bottom: 12px;

  font-size: 20px;
}

.modal-form__label{
  position: relative;
  display: block;
}

.modal-form__label-name {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  color: var(--secondary-text-color);
  letter-spacing: 0.01em;
  line-height: 1.17;
  text-align: start;
}

.modal-form__input,
.modal-form__comment{
  resize: none;
  cursor: pointer;
  width: 100%;
  height: 40px;

  margin-bottom: 10px;
  padding: 12px 16px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;

  transition: border 250ms var(--timing-function);
}

.modal-form__comment{
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 12px;
}

.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
}

.modal-form__input:focus,
.modal-form__comment:focus{
  border: 1px solid var(--accent-color);
}

.modal-form__icon{
  position: absolute;
  top: 28px;
  left: 12px;

  transition: fill 250ms var(--timing-function);
}

.modal-form__label:focus-within .modal-form__icon {
  fill: var(--accent-color);
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;

  color: var(--secondary-text-color);
  line-height: 1.7;
}

.agreement__link {
  color: var(--accent-color);
}

.agreement__btn {
  padding: 10px 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 16px;
  height: 15px;

  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 9px;

  transition: border 550ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.checkbox__icon {
  opacity: 0;

  transition: opacity 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.agreement__input:checked + .checkbox {
  background-color: var(--btn-hover-color);
  border-color: var(--btn-hover-color);
}

.agreement__input:checked + .checkbox .checkbox__icon {
  opacity: 1;
  fill: #fff;
}

.is-hidden .backdrop__modal {
  transform: translate(-50%, -70%) scale(0.5);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: visible;
}
